.customers {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.customer {
    background-color: hotpink;
    border: 2px dotted fuchsia;
    padding: .5rem;
    margin: .5rem;
    width: 400px;
}

.customer__footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.customer__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}